.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;
}
.center-text {
    text-align: center;
}
.app-container {
    width: 100vw;
    height: 100vh;
    margin: none;
    border: none;
}